.row {
  display: flex;
  gap: 40px;
}
.list {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  gap: 20px;
}
.list img {
  width: 100px;
  height: 160px;
}
table {
  border-collapse: collapse;
  width: 500px;
}
table, tr, th, td {
  border: 1px solid black;
}
